# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
adapters-inbound/web/build
adapters-outbound/persistence/build
application/build
domain/build
main/build
testdata/build

.idea
